In [112]:
st_list = pd.read_excel('useridsalone-2.xlsx',sheet_name=2)
st_book_trans_lib = pd.read_excel('useridsalone-2.xlsx',sheet_name=1)
st_entry_lib = pd.read_excel('useridsalone-2.xlsx',sheet_name=0)

In [113]:
import numpy as np
import pandas as pd
from django.utils.crypto import get_random_string
def idmap(st_data,records): 
    try:
        no_of_students = len(st_data['roll_no'])
        n = pd.Series(np.arange(0,no_of_students,step=1))
        n = n.map(str)
        st_data['id']=n.apply(lambda x: get_random_string(8))
        records.columns = ['roll_no']
        records['batch_no'] = records.roll_no.str[0:2]
        records['prog'] = records.roll_no.str[2]
        records['prog'] = list(map(lambda x : x.upper(),records.prog))
        records['dept'] = records.roll_no.str[3:5]
        records['dept'] = list(map(lambda x : x.upper(),records.dept))
        records['roll_no_num'] = records.roll_no.str[5:]
        records['roll_no']=records['batch_no'].map(str)+records['prog'].map(str)+records['dept'].map(str)+records['roll_no_num'].map(str)

        #filtering
        filt = (records['dept'] == 'ME') & (records['prog'] == 'B')
        records = records.loc[filt]
        df_name = pd.merge(records,st_data,how='right',on='roll_no')
        df_name.drop(columns=['roll_no','roll_no_num'],inplace=True)
        df_name.to_csv('st2.csv')
    except FileNotFoundError:
        print(FileNotFoundError)
    else:
        print(st_list.head(5))
    finally:
        print('Code ran sucessfulyy')

    
        # df.head() 
    return df_name

In [114]:
result = idmap(st_list,st_book_trans_lib)
result2 = idmap(st_list,st_entry_lib)

roll_no        id
0  13BME001  PrDEbhZa
1  13BME003  eKjSA6ks
2  13BME005  yX05NiRL
3  13BME007  wDCZ0oBS
4  13BME009  xyTnNIHC
Code ran sucessfulyy
    roll_no        id
0  13BME001  k6CWogI4
1  13BME003  pPTT8PQK
2  13BME005  AlwTO06t
3  13BME007  nUBT9flO
4  13BME009  OVOlZmNB
Code ran sucessfulyy

In [135]:
result

     batch_no prog dept        id
0          15    B   ME  LejjgV7O
1          15    B   ME  LejjgV7O
2          15    B   ME  LejjgV7O
3          15    B   ME  LejjgV7O
4          15    B   ME  LejjgV7O
...       ...  ...  ...       ...
9181      NaN  NaN  NaN  GZLELiQO
9182      NaN  NaN  NaN  vfvinMDS
9183      NaN  NaN  NaN  PJE3LMEE
9184      NaN  NaN  NaN  wxjIxV3h
9185      NaN  NaN  NaN  Ld70dO4J

[9186 rows x 4 columns]

In [117]:
len(result['id'].unique())

919

In [122]:
result[['id','batch_no']]

            id batch_no
0     LejjgV7O       15
1     LejjgV7O       15
2     LejjgV7O       15
3     LejjgV7O       15
4     LejjgV7O       15
...        ...      ...
9181  GZLELiQO      NaN
9182  vfvinMDS      NaN
9183  PJE3LMEE      NaN
9184  wxjIxV3h      NaN
9185  Ld70dO4J      NaN

[9186 rows x 2 columns]

In [125]:
len(result['id'].unique())

919

In [134]:
any(result.isna())

True